body,
		h1 {
			margin: 0;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		input {
			outline: none;
		}

		table {
			border-collapse: collapse;
			border: #bbb;
		}

		body {
			width: 100%;
			height: 100%;
			/*background: url(img/2.jpg) no-repeat;*/
		}

		.tBody {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 30px;
			padding: 20px 30px 40px;
			background-color: rgba(255, 255, 255, .6);
		}

		.title {
			text-align: center;
			color: #fca113;
			text-shadow: 0 0 2px #fcf913;
			line-height: 50px;
		}

		table {
			background-color: #fff;
		}

		th {
			background-color: #ddd;
		}

		tr {
			height: 30px;
		}

		ul {
			padding: 5px 0;
			width: 600px;
			text-align: center;
		}

		td {
			text-align: center;
		}

		td input {
			margin: 0 2px;
		}

		li {
			padding: 5px 0;
			overflow: hidden;
		}

		label {
			display: inline-block;
		}

		input[type="text"] {
			border: 1px solid #ccc;
			width: 80px;
			height: 20px;
		}

		.active {
			background-color: #f7cb75;
		}

		#tab tbody tr:hover {
			background-color: #f7cb75;
		}