/*css reset*/
body,
p,
h1 {
	margin: 0;
}
h1 {
	font-weight: normal;
	font-size: 16px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	outline: none;
}
a {
	text-decoration: none;
}

/*public css*/
html,body {
	width: 100%;
	height: 100%;
	font-family: arial,"宋体";
	background: url(../img/bg1.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap {
	/*position: absolute;*/
	position: relative;
	width: 950px;
	height: 523px;
	background-color: #ffffff;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.left {
	float: left;
}

/*header css*/
.head {
	height: 60px;
	background-color: #e5ecf2;
}
.head h1 {
	padding-top: 4px;
	width: 165px;
	background-color: #e15671;
	font-size: 12px;
	line-height: 54px;
	color: #fff;
}

.head h1 a {
	width: 48px;
	height: 20px;
	float: right;
	line-height: 56px;
	color: #fff;
}
.head .logo {
	float: left;
	margin: 17px 8px 19px 20px;
	width: 84px;
	background: url(../img/logo-2.png) no-repeat;
	background-size: 84px auto;
}
.head nav {
	padding: 4px 14px 0;
	line-height: 56px;
	color: #505051;
}
.head nav a {
	padding: 0 18px;
	color: #505051;
}
.hint1 {
	margin: 18px 13px 14px;
	width: 354px;
	height: 26px;
	background: url(../img/hint1.jpg) no-repeat;
}
.hint2 {
	margin: 18px 7px 14px;
	width: 124px;
	height: 26px;
	background: url(../img/hint2.jpg) no-repeat;
}

/*section css*/
.fuList {
	width: 165px;
	height: 464px;
	background-color: #112435;
	color: #ebebec;
}
.fuListBig {
	padding: 9px 0;
	border-top: 1px solid #112435;
	border-bottom: 1px solid #0d1c29;
}
.fuListBig li {
	position: relative;
	border-left: 4px solid #112435;
	text-indent: 42px;
	height: 40px;
	line-height: 40px;
}
.writeLetter:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 16px;
	background: url(../img/list-1.png) no-repeat;
}
.collectLetter:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 16px;
	background: url(../img/list-2.png) no-repeat;
}
.address:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 16px;
	background: url(../img/list-3.png) no-repeat;
}
.fuListSmall {
	font-size: 14px;
	line-height: 40px;
	color: #8f979f;
}
.fuListSmall li {
	position: relative;
	border-left: 4px solid #112435;
	text-indent: 42px;
}
.fuListSmall .hover {
	color: #b44861;
	background-color: #0f202f;
	border-color: #0f202f;
}
.fuListSmall .active {
	color: #b44861;
	background-color: #0f202f;
	border-color: #e15671;
}
.inbox:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 14px;
	background: url(../img/list-4.png) no-repeat;
}
.StarMail:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 15px;
	background: url(../img/list-5.png) no-repeat;
}
.groupMail:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 15px;
	background: url(../img/list-6.png) no-repeat;
}
.draftBox:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 15px;
	background: url(../img/list-7.png) no-repeat;
}
.beenSent:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 15px;
	background: url(../img/list-8.png) no-repeat;
}
.beenDel:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 15px;
	background: url(../img/list-9.png) no-repeat;
}
.dustbin:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline;
	width: 15px;
	height: 15px;
	background: url(../img/list-10.png) no-repeat;
}
.clearBtn {
	position: absolute;
	right: 19px;
	top: 0;
	color: #8f979f;
}
/*tBody css*/
.tBody {
	width: 785px;
}
.title {
	padding-left: 22px;
	padding-top: 7px;
	height: 40px;
	line-height: 40px;
	color: #585858;
}
.title a {
	color: #46accd;
}
.emailFunctions {
	padding: 8px 20px;
	height: 24px;
	background-color: #f2f5f8;
}
.emailFunctions a {
	float: left;
	margin-left: 8px;
	border: 1px solid #d1d9df;
	border-radius: 3px;
	height: 22px;
	padding: 0 13px;
	font-size: 14px;
	line-height: 22px;
	background-color: #fff;
	color: #242424;
}
.emailFunctions a:nth-of-type(1) {
	padding: 0 17px;
	border-color: #6cb9d4;
	background-color: #6cb9d4;
	color: #f0f7fa;
}
.emailFunctions a:nth-of-type(3),
.emailFunctions a:nth-of-type(4) {
	padding: 0 17px;
}
.emailFunctions .selectIcon {
	position: relative;
	padding-right: 32px;
}
.selectIcon:after {
	content: "";
	display: inline;
	position: absolute;
	top: 8px;
	right: 9px;
	width: 11px;
	height: 6px;
	background: url(../img/emailHead.png) no-repeat;
}
.emailHead {
	position: relative;
	padding: 10px 46px 0;
	height: 35px;
}
.emailHead input {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 16px;
	height: 16px;
}
.emailHead p {
	height: 100%;
}
.emailHead p span {
	float: left;
	width: 20px;
	height: 16px;
	margin-left: 8px;
}
.emailHead p span:nth-of-type(1) {
	background: url(../img/emailHead1.png) no-repeat;
}
.emailHead p span:nth-of-type(2) {
	background: url(../img/emailHead2.png) no-repeat;
}
.emailListUl li {
	position: relative;
	padding-left: 46px;
	padding-right: 20px;
	height: 65px;
	border-top: 1px solid #e0e9f0;
}
.emailListUl li div {
	padding-top: 9px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #6f6f6f;
}
.emailListUl li span:nth-of-type(2) {
	float: right;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #b4b4b4;
}
.emailListUl input {
	position: absolute;
	top: 14px;
	left: 20px;
	width: 16px;
	height: 16px;
}
.emailListUl li p {
	font-size: 12px;
	line-height: 22px;
	color: #a6a6a6;
}
.emailListUl li:hover {
	background-color: #f2f6f9;
}
.emailList .active {
	background-color: #f2f6f9;
}
#hint3 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 11px;
	height: 22px;
	width: 70px;
	text-align: center;
	border: 1px solid #7d7d7d;
	border-radius: 3px;
	font-size: 12px;
	line-height: 22px;
	background-color: rgba(0,0,0,.7);
	color: #d4d5d5;
	display: -none;
}



