<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容" 
                    v-model="val"
                    @keyup.13.trim="keyup"
                >
            </header>
            <section class="main">
                <input 
                    class="toggle-all" 
                    type="checkbox" 
                    :checked="arr.length?arr.every(e=>e.checked):false"
                    @click="allFn"
                >
                <ul class="todo-list">
                    <li 
                        :class="val.checked?'completed':''" 
                        v-for="(val,key) in arr"
                    >
                        <div class="view">
                            <input 
                                class="toggle" 
                                type="checkbox" 
                                v-model="val.checked"
                            >
                            <label>{{val.txt}}</label>
                            <button 
                                class="destroy"
                                @click="dele(val.id)"
                            ></button>
                        </div>
                        <!-- <input class="edit" value="多多对对对"> -->
                    </li>

                </ul>
            </section>
            <!-- <footer class="footer">
	            <span class="todo-count">
	            	<strong>0</strong>
	            	<span>条未选中</span>
	            </span>
            </footer> -->
        </div>
    </section>
<script src="vue.js" charset="utf-8"></script>
<script>

    function getItem(){
        return JSON.parse(localStorage.getItem('data'))||[{txt:'呵呵',id:0,checked:true},{txt:'哈哈',id:1,checked:false}]
    }

    new Vue({
        el:'.todoapp',
        data:{
            arr:getItem(),
            val:''
        },
        methods:{
            keyup(){
                this.arr.push({
                    txt:this.val,
                    id:+new Date,
                    checked:false
                });
                this.val = '';
            },
            dele(id){
                this.arr = this.arr.filter(e=>e.id != id);
            },
            allFn(ev){
                this.arr.forEach(e=>{
                    e.checked = ev.target.checked
                });
            }
        },
        watch:{
            //只能监听一层,如果想深入监听，那么要写成对象的方式
            // arr(){
            //     localStorage.setItem('data',JSON.stringify(this.arr));
            // } 

            arr:{
                handler(val,oldVal){
                    localStorage.setItem('data',JSON.stringify(this.arr));
                },
                deep:true
            }
        }
    });

</script>
</body>
</html>
