* {
    margin: 0;
    padding: 0;
}

#contain {
    width: 400px;
    height: 400px;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    margin: 20px auto;
    padding: 60px 30px 30px 30px;
    box-sizing: border-box;
}

#contain div {
    margin-bottom: 30px;
}

#contain div span {
    font-size: 20px;
    color: #555;
    width: 80px;
    display: inline-block;
}

#contain div input {
    width: 200px;
    height: 30px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid yellowgreen;
}

#btn {
    display: block;
    outline: none;
    width: 100px;
    height: 40px;
    border: 1px solid yellowgreen;
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px auto;
    color: #555;
}

.succ{
    cursor: pointer;
}
.fail{
    cursor:no-drop;
}

#contain .ok {
    border-color: yellowgreen;
}

#contain .error {
    border-color: red;
}